<!DOCTYPE html>
<html>

<head>
    <title>Weather App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>Weather App</h1>
        <form action="/weather" method="post">
            <input type="text" name="city" placeholder="Enter city">
            <button type="submit">Get Weather</button>
        </form>
        <div id="result">
            {% if weather %}
            <div class="weather-info">
                <h2>Weather: {{ weather }}</h2>
                <h2>Temperature: {{ temp }}°C</h2>
            </div>
            {% endif %}
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("form").on("submit", function (event) {
                event.preventDefault();

                $.ajax({
                    url: '/weather',
                    type: 'post',
                    data: $(this).serialize(),
                    success: function (data) {
                        $("#result").html("<h2>Weather: " + data.weather + "</h2><h2>Temperature: " + data.temperature + "°C</h2>");
                    }
                });
            });
        });
    </script>
</body>

</html>
